<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sher_locked.prashikshan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="The Owl App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="Prashikshan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:configChanges="orientation"
            android:label="Prashikshan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignIn"
            android:configChanges="orientation"
            android:label="Prashikshan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainPage"
            android:configChanges="orientation"
            android:label="Prashikshan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:configChanges="orientation"
            android:label="Prashikshan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Selection"
            android:configChanges="orientation"
            android:label="Prashikshan"
            android:screenOrientation="portrait" />
        <activity android:name=".Profile"></activity>
    </application>

</manifest>
